---
- name: Check input values
  ansible.builtin.import_tasks: check_input_values.yml
  tags: dfr_check_input_values

- name: Install packages
  ansible.builtin.import_tasks: install_packages.yml
  tags: dfr_install_packages

- name: Configure smb
  ansible.builtin.import_tasks: configure_smb.yml
  tags: dfr_configure_smb

- name: Join to domain
  ansible.builtin.import_tasks: join_to_domain.yml
  tags: dfr_join_to_domain

- name: Configure freeradius
  ansible.builtin.import_tasks: configure_freeradius.yml
  tags: dfr_configure_freeradius
