{% if dadl_primary_dc == true %}
nameserver 127.0.0.1
{% else %}
nameserver {{ dadl_primary_dc_ip }}
{% endif %}
{% for dns_server in dadl_dns_servers %}
nameserver {{ dns_server }}
{% endfor %}
search {{ dadl_domain_name }}
