# -*- text -*-
#
#  $Id: 5fbdcee67e8d2ac2033119b48e3f76999c8190be $

#
#  Microsoft CHAP authentication
#
#  This module supports MS-CHAP and MS-CHAPv2 authentication.
#  It also enforces the SMB-Account-Ctrl attribute.
#
mschap {

#	use_mppe = no

#	require_encryption = yes

#	require_strong = yes

	{% raw %}ntlm_auth = "/usr/bin/ntlm_auth --request-nt-key --allow-mschapv2 --username=%{mschap:User-Name:-None} --domain=%{%{mschap:NT-Domain}:-{% endraw %}{{ inventory_hostname.split('.')[1] | upper }}}{% raw %} --challenge=%{mschap:Challenge:-00} --nt-response=%{mschap:NT-Response:-00}"{% endraw %}

#	ntlm_auth_timeout = 10

#	winbind_username = "%{mschap:User-Name}"
#	winbind_domain = "%{mschap:NT-Domain}"

#	winbind_retry_with_normalised_username = no

	pool {

		start = ${thread[pool].start_servers}

		min = ${thread[pool].min_spare_servers}

		max = ${thread[pool].max_servers}

		spare = ${thread[pool].max_spare_servers}

		uses = 0

		retry_delay = 30

		lifetime = 86400

		cleanup_interval = 300

		idle_timeout = 600

	}

	passchange {

#		ntlm_auth = "/usr/bin/ntlm_auth --helper-protocol=ntlm-change-password-1"
#		ntlm_auth_username = "username: %{mschap:User-Name}"
#		ntlm_auth_domain = "nt-domain: %{mschap:NT-Domain}"

#		local_cpw = "%{exec:/path/to/script %{mschap:User-Name} %{MS-CHAP-New-Cleartext-Password}}"

#		local_cpw = "%{sql:UPDATE radcheck set value='%{MS-CHAP-New-NT-Password}' where username='%{SQL-User-Name}' and attribute='NT-Password'}"
	}

#	use_open_directory = yes

#	allow_retry = yes

#	retry_msg = "Re-enter (or reset) the password"
}
