---
dfr_vault_secret_radius_clients:
  default_secret: test123
  ct: test123
  clb: test123
  ekb: test123
  kurch: test123
  nsk: test123
  ostp: test123
  spb: test123
  tula: test123
  udm: test123
  knd: test123
  vrn: test123
