---
- name: Set IPv4 DNS addresses
  community.general.nmcli:
    conn_name: "{{ chad_net_ifaces }}"
    type: ethernet
    dns4: "{{ chad_dns4_servers }}"
    dns4_search: "{{ chad_domain_name }}"
    state: present
  register: chad_result_set_dns

- name: Restart NetworkManager
  ansible.builtin.service:
    name: NetworkManager
    state: restarted
  when: chad_result_set_dns.changed

- name: Set a hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
    use: systemd
  register: chad_result_set_hostname

- name: Set a machine-id and create new SSH key
  when: chad_result_set_hostname.changed # noqa: no-handler
  block:
    - name: Delete a machine-id
      ansible.builtin.copy:
        dest: /etc/machine-id
        content: ""

    - name: Delete a machine-id for Altlinux
      ansible.builtin.copy:
        dest: /var/lib/dbus/machine-id
        content: ""
      when: ansible_distribution == "Altlinux"

    - name: Create new a machine-id
      ansible.builtin.command: systemd-machine-id-setup

    - name: Copy machine-id to /var/lib/dbus/machine-id for Altlinux
      ansible.builtin.copy:
        src: /etc/machine-id
        dest: /var/lib/dbus/machine-id
        remote_src: yes
      when: ansible_distribution == "Altlinux"

    - name: Remove old host SSH-keys
      ansible.builtin.shell: rm -rf /etc/ssh/ssh_host_*

    - name: Remove old host SSH-keys for Altlinux
      ansible.builtin.shell: rm -rf /etc/ssh/ssh_host_*
      when: ansible_distribution == "Altlinux"

    - name: Restart sshd.servie
      ansible.builtin.service:
        name: sshd
        state: restarted

    - name: Reboot host
      ansible.builtin.reboot:
        reboot_timeout: 300

  rescue:
    - name: Roll back a hostname
      ansible.builtin.hostname:
        name: "{{ chad_result_set_hostname.diff.before.split('=')[1] | trim }}"
        use: systemd

    - name: Failed to configure host
      ansible.builtin.fail:
        msg: An error occurred while configuring the host.
